<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test Route.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
				<key>dateExpires</key>
				<string>21/04/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CoreGPX.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MDFTextAccessibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mapbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreNavigation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxDirections.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMobileEvents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxNavigation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxNavigationNative.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxSpeech.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MotionAnimator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MotionInterchange.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Polyline.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Solar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>73806ABA3011F5074867A1F7D3B11D27125746CF</string>
						<key>dateExpires</key>
						<string>21/04/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TFSADS7Y</string>
						<key>name</key>
						<string>Virendra Patel</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>94TFSADS7Y.apps.test.route</string>
				<key>com.apple.developer.team-identifier</key>
				<string>94TFSADS7Y</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>94TFSADS7Y.apps.test.route</string>
				</array>
			</dict>
			<key>name</key>
			<string>Test Route.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>200566a1-2be0-4570-a945-ec6c5acc5c57</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: apps.test.route</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>94TFSADS7Y</string>
				<key>name</key>
				<string>Virendra Patel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
